/* apps/static/css/util.css */

/* text-text-decoration系 */
.underline {
    text-decoration: underline;
}

/* text-align系 */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* flex系 */
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;
}

/* divider 系 */
.divider {
    display: inline-block;
    width: 1px;
    height: 1em; /* 行の高さに追従させる */
    background-color: var(--color-border);
    margin: 0 var(--space-2);
    vertical-align: middle;
}
