body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.12em;
  background-color: #fff;
}

#wrapper {
  position: relative;
  width: 1050px;
  height: 1420px;
  margin: 0 auto;
  padding: 20px 50px 40px 50px;

  border: 1px solid #e5ecf5;
  border: 1px solid #f6d09b;
  border: 1px solid #c0ddff;
  border: 1px solid #d9e8fa;
}

#main-frame {
  margin: 0px 60px;
}
a {
  color: #009ce8;
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

td {
  border: 0px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.smallString {
  font-size: 13px;
}

.frame {
  /* font-size: 12px; */
  background-color: #fd840b0b;
}

.readOnly {
  border: 0px;
}
.title {
  font-size: 26px;
  font-weight: bold;
}

.date {
  border: 0px;
  font-size: 17px;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
}
.price {
  padding-right: 5px;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #ffa500;
}

.client-name {
  font-size: 15px;
  border-bottom: 1px solid #ffa500;
}
.frame {
  font-size: 15px;
  padding-top: 70px;
  padding-bottom: 10px;
}

td.bottom-dashed {
  border-bottom: 1px dashed #ffa500;
}

table {
  table-layout: fixed;
}
td {
  padding: 0px;
  /* border: 1px solid #619BFB; */
}
table.solid {
  margin-left: 55px;
  margin-right: 55px;
  border-collapse: collapse;
  font-weight: normal;
  font-size: 15px;
}

table.solid td {
  padding: 0px 10px;
  border: 1px solid #619bfb;
  border: 1px solid #ffa500;
}
table.solid td.non {
  border: 0px;
}
table.solid td.non-top {
  border-top: 0px;
}
table.solid td.non-left {
  border-left: 0px;
}
table.solid td.non-right {
  border-right: 0px;
}
table.solid td.non-bottom {
  border-bottom: none;
}
table.solid td.thin-top {
  border-top: 1px solid rgb(246, 243, 239);
}
table.solid td.thin-left {
  border-left: 1px solid rgb(246, 243, 239);
}
table.solid td.thin-right {
  border-right: 1px solid rgb(246, 243, 239);
}
table.solid td.thin-bottom {
  border-bottom: 1px solid rgb(246, 243, 239);
}

pre {
  font-family: "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho",
    "MS 明朝", serif;
}

input[type="text"]:hover {
  outline: 0;
  border-color: rgb(114, 168, 254);
}

td select,
td input[type="text"],
td input[type="date"],
td input[type="tel"] {
  display: block;
  border: 1px solid #fff;
  width: 98%;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin: 1px;
  padding: 0px;
  margin-right: -1px;
}

td input[type="button"] {
  font-family: "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Gothic ProN",
    Meiryo, メイリオ, sans-serif;
  font-size: 10.5px;
  padding: 0px;
}

input.number {
  text-align: right;
  ime-mode: disabled；;
}

input[type="text"].price {
  font-family: "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho",
    "MS 明朝", serif;
  font-weight: normal;
  border: solid 0px;
  text-align: right;
  ime-mode: disabled；;
}

textarea {
  display: block;
  border: 1px solid #fff;
  width: 98%;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin: 10px;
  padding: 0px;
  margin-right: -1px;
}

#button-list {
  margin: 0 auto;
  padding: 20px 0px 10px 5px;
  font-size: 15px;
}
#button-list .button {
  margin: 0;
  margin-right: 10px;
}

.button-list a:hover {
  border: solid 1px #ff8c1a;
}
.button {
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  line-height: 25px;
  padding: 30px, 0px 0px 0px;
  letter-spacing: 0.1em;
  width: 110px;
}

.printOnly {
  visibility: hidden; /* 印刷時のみ有効 */
}

@media print {
  .printOnly {
    visibility: visible; /* 印刷時のみ有効 */
    position: absolute;
    top: 330px;
    left: 910px;
  }
  #button-list {
    visibility: hidden; /* 印刷時のみ有効 */
  }
  #wrapper {
    border: 0px;
  }
  td.client-name,
  td.price {
    border-bottom: 1px solid #000;
  }
  table.solid td {
    border: 2px solid #000; /* 下側の1本線 */
  }
}
@page {
  size: A4;
  margin: 0;
}
