.article {
  margin: 10px 0px;
  padding: 15px 0px;
  font-size: 1.1rem;
  background-color: #fff;
  line-height: 1.5em;
  letter-spacing: 0.1pt;
  border-top: solid 1px rgb(232, 232, 232);
}
.article h2 {
  font-size: 1rem;
}
.article a {
  color: #0e50d2;
}

.ref {
  position: absolute; /* 要素の配置方法を指定 */
  background-color: #ccc; /* 背景色指定 */
  padding: 20px; /* 余白指定 */
  left: 50px; /* 左からの位置指定 */
  top: 50px; /* 上からの位置指定 */
  max-width: 700px;
  display: none;
}
.ref_block {
  position: absolute; /* 要素の配置方法を指定 */
  background-color: #ccc; /* 背景色指定 */
  padding: 20px; /* 余白指定 */
  left: 50px; /* 左からの位置指定 */
  top: 50px; /* 上からの位置指定 */
  max-width: 700px;
  display: block;
}
.title {
  display: block;
}
.num_title {
  font-weight: bold;
  /* color: #118546; */
}
.num {
  display: inline-block;
  width: 2.02em;
  color: #a7041d;
}
li {
  display: table;
  margin: 7px 0px;
}

li span {
  display: table-cell;
}
li span.column {
  display: inline;
  padding-right: 1rem;
}
li.item {
  margin-left: 1em;
}

.toc .num {
  width: 12.02em;
  padding-right: 1rem;
}
.toc .chapter {
  padding-left: 1rem;
}
.toc li.section {
  padding-left: 2rem;
}
