body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI",
    "Yu Gothic UI", "MS PGothic", sans-serif !important;
  height: 100%;
  font-size: 13px;
}

#form {
  margin-top: 20px;
  padding: 20px;
}
#form th,
#form td {
  font-weight: normal;
  text-align: center;
  padding: 7px 8px;
  border: 1px solid #dfdfdf;
}
#form th {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #dcdbdb;
}
#form .index {
  text-align: center;
  vertical-align: middle;
}
#form label,
#form select,
#form input {
  font-size: 12px;
  border: 1px solid rgb(241, 241, 241);
}
.card-body label,
.card-body select,
.card-body input {
  font-size: 12.5px;
}
.form_display {
  margin: 2%;
  padding: 20px;
  font-size: 14px;
}

#result {
  background-color: #ffffff;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#result table {
  margin: 0 auto; /* 荳ｭ螟ｮ蟇�○ */
}
#result th,
#result td {
  border: 1px solid #e4e4e4;
  padding: 7px 8px;
  font-size: 13.5px;
  line-height: 1.3em;
  letter-spacing: 0.7pt;
  text-align: right;
}
#result th {
  background-color: #ecebeb;
  font-weight: normal;
  text-align: center;
  padding: 5px;
}
#result td {
  text-align: right;
}

#calc-tax .sum-title {
  text-align: left;
  background-color: #d8d8d8;
  border: 1px solid #c2c2c2;
}
#calc-tax .type {
  width: 105px;
  text-align: left;
}
#calc-tax .address {
  width: 100%;
}
#calc-tax .price {
  width: 180px;
}
#calc-tax .square-site-right-equity-bottom {
  width: 90px;
}
#calc-tax .site-right-equity-top {
  width: 120px;
}
#calc-tax .equity-top {
  width: 120px;
}
#calc-tax .equity-bottom {
  width: 120px;
}
#calc-tax .special-tax {
  text-align: left;
}
#calc-tax .json {
  border: 1px solid rgb(190, 206, 225);
}
.red {
  background-color: #febcc0;
}
.pink {
  background-color: #fddfe16e;
}
.gray {
  background-color: #efefef;
}
.blue {
  color: #a4b7df;
}
