#jurisdiction {
  margin: 0px;
}
#main-content {
  padding: 25px 35px;
}
h2 {
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #3a3a3a;
}
.caution {
  color: #97525a;
}
form {
  padding: 45px 20px;
  /* padding-bottom: 40px; */
  /* background-color: #e2e2e247; */
}
div.search {
  vertical-align: bottom;
  position: relative;
}
button.search {
  position: absolute;
  bottom: 0px;
}
a {
  text-decoration: none;
}
table td span.searched {
  /* color: #fff; */
  background-color: #ffff09;
}
#jurisdiction table {
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 1px #bdbdbd;
}
table th {
  font-weight: normal;
  padding: 5px;
  background-color: #dcdcdc47;
  border: solid 1px #e2e2e2;
  text-align: center;
}
table.jurisdiction td {
  /* white-space: pre; */
  border: solid 1px #d0cfcf;
  padding: 10px;
}
table.jurisdiction td.prefecture {
  width: 10%;
}
table.jurisdiction td.name {
  width: 10%;
}
table.jurisdiction td.right {
  width: 40%;
}
table.jurisdiction td.corp {
  width: 40px;
}
#jurisdiction ul {
  margin: 0px;
  padding: 0px;
}
#jurisdiction ul li {
  padding-left: 5px;
  background-color: #dcdcdc47;
}
#jurisdiction ul ul li {
  padding-left: 25px;
  background-color: #fff;
}
/* 
.hit-str {
  background-color: rgb(249, 232, 45);
}
#jurisdiction a {
  color: #1351ed;
  text-decoration: solid;
}
#serch-form {
  margin: 20px;
  padding: 20px;
  border: solid 1px #f0f0f0;
  vertical-align: bottom;
}
#serch-form td {
  width: 200px;
  padding-right: 20px;
}
.submit {
  vertical-align: bottom;
}
div.alert {
  margin: 20px;
} */
