/* amount_document.css */

/* ==========
  全体設定
========== */
body {
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 13px;
    letter-spacing: 0.07em;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* ==========
  共通設定
========== */
.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}


/* ==========
  レイアウト
========== */
#wrapper {
    position: relative;
    width: 1050px;
    height: 1420px;
    margin: 0 auto;
    padding: 20px 20px 10px 20px; /* 左右 padding を減らす */
    border: 1px solid #d9e8fa;
}

#main-frame {
    position: relative;
    margin: 0 60px;
}

tr.offset {
    height: 0 !important;
}

tr.offset > td {
    padding: 0 !important;
    border: none !important;
}

/* ==========
  ナビ部
========== */

.btn-group {
    display: flex;
    justify-content: center;
    padding:20px;
    gap: 0.5rem;
}

.button {
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    line-height: 25px;
    padding: 0 0 0 0;
    letter-spacing: 0.1em;
    width: 110px;
}

/* ==========
  テキスト装飾
========== */
a {
    color: #000;
    font-weight:normal;
    text-decoration: none;
}


.smallString {
    font-size: 13px;
}

.document-title {
    font-size: 20px;
    font-weight: bold;
}

.client-name {
    font-size: 15px;
    border-bottom: 1px solid #ffa500;
}

.amount-price {
    padding-right: 5px;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid #ffa500;
}

.issued-date {
    font-size: 14px;
    /*border: none;*/
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}


/* ==========
  テーブル関連
========== */
table {
    table-layout: fixed;
    margin: 0 5px;
    border-collapse: collapse;
    font-size: 15px;
    font-weight: normal;
    width: 100%;
}

td, th {
    padding: 0;
    line-height: 30px;
    font-weight: normal;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

/* テーブル枠用 */
table.frame {
    border: 1.5px solid #ffda97;
}

table.frame th,
table.frame td {
    padding: 0 10px;
    border: 1px solid #fdf1dc;
}

.item-type {
    background-color: #ffb23e11;
}

/* ==========
  入力フィールド
========== */
input[type="text"],
input[type="number"] {
    font-family: "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: normal;
    border: none;
    font-size: 15px;
}

/* 数値入力は右寄せ */
input[type="number"] {
    text-align: right;
}

/* ==========
  特殊装飾
========== */
.readOnly {
    border: none;
}

.frame {
    font-size: 15px;
    padding-top: 70px;
    padding-bottom: 10px;
}

td.bottom-dashed {
    border-bottom: 1px dashed #ffa500;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* ==========
  強調線
========== */
table.frame tr.border-top-strong {
    border-top: 1.5px solid #ffda97 ;
}

table.frame tr.border-bottom-strong {
    border-bottom: 1.5px solid #ffda97 ;
}

table.frame .cell-left-border {
    border-left: 1cap solid #fbca70 ;
}

table.frame .cell-right-border {
    border-right: 1px solid #fbca70 ;
}

textarea {
    display: block;
    border: 1px solid #fff;
    width: 98%;
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝",
    "MS PMincho", serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 10px -1px 10px 10px;
}
@media print {

    @page {
        size: A4 portrait;
        margin: 10mm; /* プリンタ余白のため */
    }

    body {
        transform-origin: top left;
        /*transform: scale(0.85);*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #wrapper {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 297mm;
        width: 210mm;
        overflow: visible;
    }

    * {
        page-break-inside: avoid !important;
        break-inside: avoid !important;
    }


    tr, thead, tbody {
        page-break-inside: auto;
        break-inside: auto;
    }

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
    }

    .print-hide {
        display: none !important;
    }

    table.frame, table.frame th, table.frame td {
        border: 1px solid #000 !important;
    }
    table.frame td {
        border: none !important;
    }
    table.header-frame, table.header-frame th, table.header-frame td {
        border: none !important;
    }


    /* tbody td の実線ボーダーを消す */
    table.frame tbody td {
        border: none !important;
        padding: 2pt 4pt;
        font-size: 9pt;
        line-height: 1.4;
    }
    td, th {
        padding: 2pt 2pt;
        font-size: 9pt;
        line-height: 1.4;
    }
    /* セルは基本的にボーダーなし */
    table.frame th,
    table.frame td {
        border: none !important;
        padding: 2pt 2pt;
        font-size: 9pt;
        line-height: 1.4;
    }
    table.frame {
        border-collapse: collapse; /* これがないとボーダーがダブることも */
        border: 1.5px solid #000 !important; /* テーブル全体の枠線 */
    }



    table.frame .border-top-strong {
        border-top: 1px solid #000 !important;
    }
    table.frame .border-bottom-strong {
        border-bottom: 1px solid #000 !important;
    }
    table.frame .cell-left-border {
        border-left: 1.5px solid #000 !important;
    }

    table.frame .cell-right-border {
        border-right: 1.5px solid #000 !important;
    }

    .client-name,
    .amount-price {
        border-bottom: 1px solid #000 !important;
        padding-bottom: 2px !important; /* 下線とテキストがくっつかないように */
    }
}