/* [style.css] */
body {
  font-family: "Yu Gothic", "Meiryo", sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
}

.container {
  max-width: 1000px !important;
  width: 100%;
  background-color: #fff;
}

h1 {
  font-size: 1.6rem;
  color: #555;
}

h3, h4, h6 {
  margin-top: 1rem;
  color: #666;
}

.table th, .table td {
  font-size: 0.9rem;
}

.totals td, .totals th {
  font-size: 1rem;
}