/* Block */
.form-header {
    background: var(--color-bg);
    color: var(--color-fg);
    --header-container-w: var(--form-container-w, var(--container-w));
    padding: var(--space-4) 0 var(--space-6) ;
}

.form-header__inner {
     padding: 0 var(--space-2);
}

.form-header__heading {
    font-size: var( --font-md);
    padding: 0 var(--space-3);
}
