form {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: block;
  margin: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  font-size: 1em;
}
#item,
#note {
  font-size: 13px;
}
button {
  margin-right: 10px;
}
textarea[name="dat"] {
  font-size: 14px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", sans-serif;
  background-color: rgb(240, 240, 240);
}
