#commerce {
  font-size: 1.2em;
  /* margin-top: 20px; */
}

#commerce table {
  margin: 20px;
  border: 1.5px solid #000;
}

#commerce td {
  border: none;
  /* border-left: 1px solid #bbbbbb;
  border-top: 1px solid #dddddd; */
  /* border: 1px solid #FFF; */
  border-left: 1px solid #000;
  padding: 0px 15px;
}
#commerce .border_top {
  padding-top: 10px;
  border-top: 1px solid #000;
}
#commerce .border_bottom {
  padding-bottom: 10px;
}
#commerce td.solid-line {
  padding: 0px;
  background: linear-gradient(
    to bottom,
    #fff 0% 50%,
    #878787 50% calc(50% + 1px),
    #fff calc(50% + 1px) 100%
  );
}
#commerce td.dashed-line {
  font-size: 0.77em;

  color: #9c9c9c;
  margin-left: -2px;
  padding: 0px 0px;
}
