table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1em;
  border: solid 1px #333;
  border-collapse: collapse;
}
p {
  margin: 0px 0px;
  padding: 10px 0px;
  white-space: pre-wrap;
}

h2 {
  font-size: 1.2rem;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 7px;
  padding-left: 15px;
  color: #fff;
  background-color: #434242;
}
nav:has(+ h2) {
  margin-bottom: -30px;
}
h3 {
  margin-top: 70px;
}
p:has(.subCaption1),
p:has(.subCaption2) {
  margin-top: -10px;
}
h3,
.subCaption1,
.subCaption2 {
  /* registerクラスに隣接する見出 */
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 2px;
  padding-left: 0.5rem;
  text-align: left;
  line-height: 1.7rem;
  border-left: solid 4px #cc2362;
}
.subCaption1 {
  margin-top: 0px;
  padding-left: 2em;
}
.subCaption2 {
  margin-top: 0px;
  padding-left: 3em;
}

.frame {
  display: block;
  white-space: pre-wrap;
  margin: 20px 0px;
  padding: 20px;
  width: 100%;
}
.frame .title {
  text-align: left;
  font-size: 1em;
  padding: 0px;
  padding-bottom: 0.2em;
}
.blueFrame {
  background-color: #edf7ffab;
  border: solid 1px #d8ebfb;
  overflow-wrap: break-all;
  word-wrap: break-word;
  word-break: break-all;
}
.grayFrame {
  background-color: #f8f8f8ad;
  border: solid 1px #e3e3e3c2;
}
.redFrame {
  background-color: #fde8ed71;
  border: solid 1px #f8dbe5d1;
}
.orangeFrame {
  /* border: solid 1px #000; */
  background-color: #fff4edab;
  border: solid 1px #fde0c9ab;
}
.adminFrame {
  background-color: #dbece4;
  border: solid 1px #c5e1d4;
  margin-bottom: 50px;
}
.adminFrame::before {
  content: "\F4CA  管理人メモ";
  font-family: bootstrap-icons;
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
}
.myUl li {
  display: inline-block;
}
.myUl {
  display: table;
  margin-left: -10px;
}
.myUl span.row {
  display: table-row;
}
.myUl span.symble {
  display: table-cell;
  /* font-weight: bold; */
}
.myUl .depth1 {
  width: 3em;
}
.myUl .depth2 {
  width: 4em;
  padding-left: 1em;
}
.myUl .sentence {
  display: table-cell;
}
/* #ex_reg td:first-child,
#ex_reg th:first-child {
  border-left: none;
}
#ex_reg tr:first-child td,
#ex_reg tr:first-child th {
  border-top: none;
} */
