#sidebar {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.97em;
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
  letter-spacing: 0.1pt;
}
#sidebar a {
  text-decoration: none;
  color: #000;
}
#sidebar ul {
  padding: 10px 20px;
}
#sidebar li {
  margin: 1px;
  padding: 2px;
  cursor: pointer;
}
#sidebar ul li {
  margin-left: 0em;
}
#sidebar ul li ul li {
  margin-left: 0em;
  text-indent: -1em;
}
#sidebar ul li ul li ul li {
  margin-left: 2em;
  text-indent: -3em;
}
#sidebar ul li ul li ul li ul li {
  margin-left: 0em;
  text-indent: -3em;
}
#sidebar ul li ul li ul li ul li ul li {
  margin-left: 1em;
  text-indent: -3em;
}
#sidebar span.header_num {
  padding-right: 0.8em;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: top;
  color: #97525a;
}

#sidebar li.selected {
  font-weight: 700;
}

#sidebar .desp_none {
  display: none;
}
#sidebar .desp_open {
  display: block;
}

/* 目次タイトル */
#sidebar .title_frame {
  font-size: 1em;
  font-weight: normal;
  display: block;
  line-height: 1.1em;
  padding: 15px 15px 8px 20px;
  margin: 0px -11px 10px -11px;
  background-color: #e1e6ea;
  border-bottom: solid 1px #d7dfe5;
}

#sidebar .title {
  display: block;
  font-size: 1em;

  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 7px 0px;
}
#sidebar .second_title {
  display: block;
  font-size: 1em;

  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 7px 0px 0px 0px;
  color: #a9646c;
  border-top: solid 1px #cad0d5;
}
